body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}

.center {
    text-align: center;
}

.leftadjust{
    margin-left: auto;
    margin-right: auto;
}

div.center {
    text-align: center;
}

div.select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

div.bar-chart {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    height: 75px;
}

.pageCenter {
    display: inline-block;
}

.pagination input {
    padding: 8px 16px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    background-color: rgb(100, 100, 100);
    border: black;
    color: white;
    border-radius: 4px;
}

.pagination input:hover {
    background-color: rgb(158, 157, 157);
}

input#next {
    padding-right: 28px;
    padding-left: 28px;
}

.deleteCampaign {
    background-color: rgb(180, 42, 42);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 13px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 83.5%
}

.pendingblock {
    background-color:white;
    text-align: center;
    color:black;
    padding: 0;
    border-radius: 4px;
}
