/* header styling */
.header {
  overflow: hidden;
  background-color: #333;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.title {
  font-size: 25px;
  font-weight: bold;
}

.header a.title:hover {
  font-size: 25px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
}

body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}

.center{
    text-align: center;
}

.leftadjust{
    margin-left: auto;
    margin-right: auto;
}

div.center {
    text-align: center;
}

div.select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

div.bar-chart {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.pageCenter{
    display: inline-block;
}

.pagination input {
    color: black;
    /*float: left;*/
    padding: 8px 16px;
    text-decoration: none;
}

.pagination input:hover{background-color: rgb(50, 144, 182);}

.deleteCampaign {
    background-color: rgb(180, 42, 42);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 13px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 84.5%
}

.pendingblock{
    background-color:white;
    padding-bottom: 75px;
    text-align: center;
    color:black;
    padding:20px;
    border-radius: 4px;
}
