
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cccccc;
}

html { 
  background: url("/Resources/images/login_img.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.headline-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}

.headline{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.headline-section {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    color: #626262;
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    margin: 8px;
    max-width: 388px;
    padding: 35px 25px;
    text-align: center;
}
.headline-section a {
    background-color: #4386fc;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    min-width: 150px;
    padding: 15px;
    margin-top: auto;
    justify-self: end;
    margin-bottom: 0;
}

img.plane-icon {
    height: auto;
    width: 150px;
    margin: 5px auto;
}

p {
    margin: 10px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
    margin-bottom: 30px;
    color: #626262;
}