body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}

div.center {
    text-align: center;
}

div.select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

div.bar-chart {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

label {
    padding-right: 15px;
}