/* header styling */
.header {
  overflow: hidden;
  background-color: #333;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.title {
  font-size: 25px;
  font-weight: bold;
}

.header a.title:hover {
  font-size: 25px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
}

body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}

div.center {
    text-align: center;
}

div.select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

div.bar-chart {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}