/* header styling */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.title {
  font-size: 25px;
  font-weight: bold;
}

body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}

div.center {
    text-align: center;
    margin: auto;
    width: 80%;
}

div.dropdown-padding {
    padding: 50pt;
}